@model List<ClotherS.Models.Banner>

<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <li data-target="#slider-carousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                        }
                    </ol>

                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var banner = Model[i];
                            <div class="item @(i == 0 ? "active" : "")">
                                <div class="col-sm-6">
                                    <h1><span>CLOTHER</span>-SHOPPER</h1>
                                    <h2>@banner.Title</h2>
                                    <p>@banner.Description</p>
                                    <a href="@banner.LinkUrl" class="btn btn-default get" target="_blank">Get it now</a>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/images/@banner.Image" class="girl img-responsive" alt="" />
                                    <img src="images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>
                        }
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
