@model X.PagedList.IPagedList<ClotherS.Models.Product>
@using X.PagedList.Mvc.Core
<!-- Slider -->
@Html.Partial("_BannerSlider", ViewData["Banners"] as List<ClotherS.Models.Banner>)

@{
    var currentSort = ViewData["CurrentSort"]?.ToString();
}

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="features_items">
                <h2 class="title text-center">Features Items</h2>
                <!-- Lặp qua danh sách sản phẩm -->
                @foreach (var item in Model)
                {
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.ProductId">
                                    <div class="productinfo text-center">
                                        <img src="~/images/@item.Image" alt="@item.ProductName" />
                                        <h2>$@item.Price</h2>
                                        <p>@item.ProductName</p>
                                    </div>
                                </a>
                                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.ProductId">
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>Sale: @item.Discount%</h2>
                                            <h2>REMAINING: @item.Quantity</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li>
                                        <a href="javascript:void(0);" class="btn-add-to-cart" data-id="@item.ProductId">
                                            <i class="fa fa-plus-square"></i> Add to Cart
                                        </a>
                                    </li>


                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to Wishlist</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                <!-- Phân trang -->
                <div class="pagination-container">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = currentSort }))
                </div>

            </div>
        </div>
        <!-- Sidebar -->
        <div class="col-sm-3">
            @Html.Partial("_SidebarPartial")
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/productHub")
        .build();

    connection.start().catch(err => console.error(err));

    connection.on("ReceiveProductUpdate", function () {
        location.reload();
    });
</script>
<script>
    document.querySelectorAll('.btn-add-to-cart').forEach(button => {
        button.addEventListener('click', function () {
            const productId = this.getAttribute('data-id');

            fetch('/ShoppingCart/AddToCart?productId=' + productId + '&quantity=1', {
                method: 'POST'
            })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else if (response.ok) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Successfully added to cart!',
                        text: 'You can continue shopping or check your cart.',
                        confirmButtonText: 'OK',
                        showCancelButton: true,
                        cancelButtonText: 'View Cart',
                        reverseButtons: true,
                        backdrop: true,
                        allowOutsideClick: true,
                        allowEscapeKey: true
                    }).then((result) => {
                        if (result.dismiss === Swal.DismissReason.cancel) {
                            window.location.href = "/ShoppingCart/Index";
                        }
                    });
                } else {
                    throw new Error("There was an error adding the product.");
                }
            })
            .catch(err => {
                console.error(err);
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Could not add the product to the cart.',
                    confirmButtonText: 'OK'
                });
            });
        });
    });
</script>


